@font-face {
    font-family: 'Raleway' ;
    src: url("/fylo-proj/src/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

@font-face{
    font-family: 'OpenSans-Regular';
    src: url("/fylo-proj/src/assets/fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face{
    font-family: 'OpenSans-SemiBold';
    src: url("/fylo-proj/src/assets/fonts/Open_Sans/OpenSans-SemiBold.ttf");
}